@import './setting';
@import './app';
@import './candyMachine';

.collections {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
}

.timer-container .timer-header {
    font-size: 20px;
    font-weight: bold;
}

.timer-container .timer-value {
    font-size: 18px;
}
